<ion-header>
  <ion-toolbar color="warning">
    <ion-label slot="start" margin *ngIf="budgetInfo">
      <p style="color: #57192e;">Expenses</p>
      <h6 style="color: #57192e;">₱ {{budgetInfo.expenses}}</h6>
    </ion-label>
    <ion-label slot="start" margin *ngIf="budgetInfo">
      <p style="color: #57192e;">Budget</p>
      <h6 style="color: #57192e;">₱ {{ sum(budgetInfo.budget,budgetInfo.expenses)}}</h6>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="presentModal();" [disabled]="(gotBudget || !isTodaysDate) || (active != 'weekly' && hasCustom)">
        <ion-icon slot="icon-only" name="cash"></ion-icon>
      </ion-button>
      <ion-button (click)="reset();">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

      <!-- Default Segment -->
<ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="weekly">
      <ion-label>Weekly</ion-label>
    </ion-segment-button>
    <ion-segment-button value="custom">
      <ion-label>Custom</ion-label>
    </ion-segment-button>
  </ion-segment>
  

  <ion-toolbar [color]="active == 'weekly' ? (isTodaysDate ? 'primary': 'medium') : 'primary'">
    <ion-buttons *ngIf="active == 'weekly'" slot="start">
      <ion-button (click)="moveWeek('backward');">
        <ion-icon slot="icon-only" name="arrow-dropleft"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <h5 *ngIf="active == 'weekly'" style="font-size:.8em; font-weight:bolder;text-align: center;">{{displayCurrentStartWeek}} -
        {{displayCurrentEndWeek}}
        {{currentYear}}</h5>

        <h5 *ngIf="active != 'weekly'" style="font-size:.8em; font-weight:bolder;text-align: center;">{{customStart}} -
          {{customEnd}}
          {{currentYear}}</h5>
    </ion-title>

    <ion-buttons *ngIf="active == 'weekly'" slot="end">
      <ion-button (click)="moveWeek('forward');">
        <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>




</ion-header>


<ion-content>
  <ion-item *ngIf="budgetInfo">
    <ion-label style="text-align:center;color:gray">
      <p>Expenses Today: ₱ {{expenses_today}}</p>
      <p>Suggested Budget Per Day: ₱ {{suggestedBudgetPerDay}}</p>
      <p>Today's Saving: ₱ {{minus(suggestedBudgetPerDay, expenses_today)}}</p>
    </ion-label>
  </ion-item>
  <ion-card *ngFor="let transaction of transactions">
    <ion-card-header>
      <ion-card-subtitle>{{transaction.day}}</ion-card-subtitle>
      <ion-card-title>{{transaction.beautyDate}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let data of transaction.data">
          <ion-thumbnail slot="start">
            <img [src]="data.icon_src">
          </ion-thumbnail>
          <ion-label>
            <h6 style="font-weight:bolder">{{data.name}}</h6>
            <h5 style="color:red">₱{{data.amount}}</h5>
            <p *ngIf="data.note" text-wrap>{{data.note}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab color="tertiary" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentTransactionModal();" [disabled]="(!gotBudget || !isTodaysDate)  || (active != 'weekly' && !isBetween)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<!-- 
  <ion-fab color="tertiary" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button *ngIf="active != 'weekly' "(click)="presentSearchModal();">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>