<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="back();">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <h3 style="font-weight:bold;font-size: 1em">Select Category</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let category of categories" (click)="selectCategory(category);">
      <ion-thumbnail slot="start">
        <img [src]="category.icon_src">
      </ion-thumbnail>
      <ion-label>{{category.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>